@media screen and (max-device-width: 800px) {
  body {
    cursor: default;
    overflow-x: hidden;
    position: relative;
  }
  .burger-nav {
    width: 100vw;
    height: 20vw;
  }
  .menubtn1 {
    width: 10vw;
    height: 10vw;
    top: 5vw;
    right: 1vw;
  }

  .icon-left,
  .icon-right {
    width: 8vw;
    height: 1vw;
  }

  .icon-left {
    transform: translateY(-2vw);
  }

  .icon-right {
    transform: translateY(2vw);
  }

  .menubtn1.active .icon-left {
    transform: rotate(45deg);
  }

  .menubtn1.active .icon-right {
    transform: rotate(-45deg);
  }

  .menu {
    top: 19vw;
    width: 100vw;
    height: 146vw;
    flex-direction: column;
    z-index: 1000;
    gap: 19vw;
  }
  .menu.show {
    display: flex;
  }
  .menu a {
    font-size: 4vw;
  }
  .glav-svg {
    left: 0vw;
    width: 100%;
    height: auto;
    overflow: visible;
    position: absolute;
  }

  .glav-svg text {
    justify-content: center;
    font-weight: bold;
    font-size: 13vw;

    stroke-width: 6vw;
    paint-order: stroke;
  }
  .menu-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw; /* расстояние между кнопками */
    margin-top: 4vw; /* отступ сверху от последних ссылок */
    width: 100%;
  }

  .menu-btn {
    color: #000;
    background-color: #fff;
    border: 0.3vw solid #000;

    font-weight: 500 !important;
    font-size: 1.83vw !important;
    padding: 1.5vw 4vw !important;
    color: #000 !important;
  }

  .logo {
    font-size: 12.5vw;
    top: 4.3vw;
    left: 1.8vw;
    letter-spacing: -4.15vw;
  }
  .ascii-art {
    rotate: -90deg;
    line-height: 0.95vw;
    letter-spacing: 0.15vw;
    top: 36vw;
    left: -1vw;
  }
}
/* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */
@media screen and (max-width: 800px) {
  .burger-nav {
    width: 100vw;
    height: 16vw;
    background-color: brown;
  }
}
