@media screen and (max-device-width: 800px) {
  body {
    cursor: default;
    overflow-x: hidden;
    position: relative;
  }
  .burger-nav {
    width: 100vw;
    height: 20vw;
  }
  .menubtn1 {
    width: 10vw;
    height: 10vw;
    top: 5vw;
    right: 1vw;
  }

  .icon-left,
  .icon-right {
    width: 8vw;
    height: 1vw;
  }

  .icon-left {
    transform: translateY(-2vw);
  }

  .icon-right {
    transform: translateY(2vw);
  }

  .menubtn1.active .icon-left {
    transform: rotate(45deg);
  }

  .menubtn1.active .icon-right {
    transform: rotate(-45deg);
  }

  .menu {
    top: 19vw;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: 1000;
    gap: 19vw;
  }
  .menu.show {
    display: flex;
  }
  .menu a {
    font-size: 4vw;
  }
  .glav-svg {
    left: 0vw;
    width: 100%;
    height: auto;
    overflow: visible;
    position: absolute;
  }

  .glav-svg text {
    justify-content: center;
    font-weight: bold;
    font-size: 13vw;

    stroke-width: 6vw;
    paint-order: stroke;
  }
  .menu-buttons {
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    margin-top: 6vw;
  }

  .menu-btn {
    font-size: 4vw !important;
    padding: 3vw 6vw !important;
    border: 0.5vw solid #000;
  }
  .logo {
    font-size: 12.5vw;
    top: 4.3vw;
    left: 1.8vw;
    letter-spacing: -4.15vw;
  }

  /* ГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦАГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦА ГЛАВНАЯ СТРАНИЦА */
  .ascii-art {
    rotate: -90deg;
    line-height: 0.95vw;
    letter-spacing: 0.15vw;
    top: 29vw;
    left: 1vw;
    transform: scale(1.08);
  }
  .zagl1 {
    left: 39.5vw;
    top: 100.817vw;
    width: 59vw;
  }
  .zagl1 text {
    font-weight: bold;
    fill: #ffffff;
    stroke: #ff2c73;
    stroke-width: 0.6vw;
    paint-order: stroke;
    font-size: 2.8vw;
    overflow: visible;
  }
  .txt1 {
    font-size: 3vw;
    left: 20.955vw;
    top: 110.846vw;
  }
  .ind1 {
    left: 18.488vw;
    top: 126.52vw;
    position: absolute;
  }
  .zagl2 {
    font-weight: bold;
    font-size: 6.392vw;
    left: 4.5vw;
    top: 168vw;
    color: #000;
    position: absolute;
  }
  .bug1,
  .bug2,
  .fast-bug {
    display: none !important;
  }
  .txt2 {
    font-size: 3vw;
    left: 6.8vw;
    top: 175.846vw;
  }
  .sprite1 {
    left: 25.9vw;
    top: 200vw;
    transform: scale(2);
  }

  .sprite2 {
    left: 67.7vw;
    top: 200vw;
    transform: scale(2);
  }

  .sprite3 {
    left: 25.9vw;
    top: 232vw;
    transform: scale(2);
  }

  .sprite4 {
    left: 67.7vw;
    top: 232vw;
    transform: scale(2);
  }
  .plus1,
  .plus2,
  .plus3,
  .plus4 {
    font-size: 3vw;
    top: 106vw;
  }
  .plus1 {
    top: 217vw;
    left: 20vw;
  }
  .plus2 {
    top: 217vw;
    left: 61vw;
  }
  .plus3 {
    top: 249vw;
    left: 20vw;
  }
  .plus4 {
    top: 249vw;
    left: 66vw;
  }
  .zagl3 {
    font-size: 6.392vw;
    left: 4.5vw;
    top: 257vw;
  }
  .txt3 {
    font-size: 3vw;
    left: 6.8vw;
    top: 266vw;
  }
  .ind2 {
    left: 18.488vw;
    top: 291.52vw;
    position: absolute;
  }
  .tsennikiiiii {
    top: 329vw;
    width: 100vw;
    height: 68%;
  }
  .zagl4 {
    font-size: 6.392vw;
    left: 5vw;
  }
  .dengi1,
  .dengi2,
  .dengi3,
  .dengi4 {
    font-size: 4.7vw;
  }
  .dengi1 {
    left: 7vw;
    top: 8.5vw;
  }
  .dengi2 {
    left: 37vw;
    top: 31.9vw;
  }
  .dengi3 {
    left: 7vw;
    top: 62vw;
  }
  .dengi4 {
    left: 37vw;
    top: 91.9vw;
  }
  .stoimost1,
  .stoimost2,
  .stoimost3,
  .stoimost4 {
    font-size: 6.392vw;
  }
  .stoimost1 {
    left: 7vw;
    top: 22vw;
  }
  .stoimost2 {
    left: 37vw;
    top: 46vw;
  }
  .stoimost3 {
    left: 7vw;
    top: 77.5vw;
  }
  .stoimost4 {
    left: 37vw;
    top: 107.5vw;
  }
  .blablabla1,
  .blablabla2,
  .blablabla3,
  .blablabla4 {
    font-size: 3vw;
  }
  .blablabla1 {
    left: 7vw;
    top: 14.5vw;
  }
  .blablabla2 {
    left: 37vw;
    top: 38vw;
  }
  .blablabla3 {
    left: 7vw;
    top: 67.5vw;
  }
  .blablabla4 {
    left: 37vw;
    top: 97.5vw;
  }
  .vopros-svg {
    top: 240vw;
    width: 100%;
    height: auto;
  }
  .vopros-svg text {
    justify-content: center;
    font-weight: bold;
    font-size: 4vw;
    stroke-width: 3vw;
    paint-order: stroke;
  }
  .promo {
    font-size: 3vw;

    top: 20vw;
  }
  .forma {
    top: 28vw;
    width: 85vw;
    padding: 4vw;
    height: 65vw;
  }
  .forma67 {
    top: 440vw;
  }
  .input-field {
    padding: 0vw 2vw;
    font-size: 3.464vw;
    height: 10vw;
  }
  .single-line {
    margin-bottom: 7vw;
  }
  .input-field::placeholder {
    font-size: 3.464vw;
  }

  .custom-checkbox {
    width: 5.5vw;
    height: 5.5vw;
  }
  .custom-checkbox::after {
    content: '';
    position: absolute;
    left: 0.77vw;
    top: 0.21vw;
    width: 2.75vw;
    height: 6.5vw;
  }
  .consent input[type='checkbox']:checked + .custom-checkbox::after {
    opacity: 1;
  }
  /* даю согласие */
  .consent-label {
    top: 54vw;
    left: 12vw;
    font-size: 3.464vw;
  }
  .zapisatsya-btn {
    top: 90vw;
    padding: 1vw;
    width: 42vw;
    height: 8vw;
    margin-top: 7vw;
    font-size: 2.928vw;
  }

  .success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 44, 115, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .success-overlay.visible {
    display: flex;
  }

  .success-message {
    background: #f6f6f6;
    padding: 3vw;
    border: 0.5vw solid #000000;
    text-align: center;
    font-size: 2.4vw;
    top: 18vw;
  }
  .close-button {
    position: absolute;
    top: 2vw;
    right: 2vw;
    background: transparent;
    border: none;
    font-size: 6vw;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }

  .close-button:hover {
    color: #ccc;
  }
  .footer {
    width: 100vw;
    height: 39vw;
    top: 550vw;
  }
  .footerstyles {
    width: 100vw;
    height: 39vw;
    top: 585vw;
  }
  .footereven {
    width: 100vw;
    height: 39vw;
    top: 980vw;
  }
  .footershop {
    width: 100vw;
    height: 39vw;
    top: 634vw;
  }
  .footerfil1 {
    width: 100vw;
    height: 39vw;
    top: 634vw;
  }
  .footerfil {
    width: 100vw;
    height: 39vw;
    top: 250vw;
  }
  .footerteam {
    width: 100vw;
    height: 39vw;
    top: 500vw;
  }
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  .footer-nav1 {
    position: absolute;
  }
  .footer-nav2 {
    left: 24vw;
    position: absolute;
  }
  .footer-nav1 li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
  }
  .footer-nav2 li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
  }

  .footer-nav1 a,
  .footer-nav2 a {
    padding: 0.3vw;
    gap: 1vw;
    font-size: 3vw;
  }

  .footer-text {
    position: absolute;
    top: 22vw;
    gap: 1vw;
    font-family: 'Helvetica Neue';
    color: #fff;
    font-size: 2.6vw;
  }

  #paint {
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    position: absolute;
    top: 1vw;
    left: 67vw;
    position: absolute;
  }

  #funny-bug {
    width: 52.187vw;
    height: 35.401vw;
    left: -4vw;
  }

  #speech-bubble {
    font-size: 2.6vw;
    padding: 1vw;
    max-width: 50vw;
  }

  /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /* 2 блоооооооооооооооок направления */

  #pila,
  #love,
  #kust,
  #chocopie,
  #pirat,
  #sugar {
    position: relative;
    width: 100vw;
    border: none;
    border-bottom: 0.3vw solid #000;
    margin: 0;
  }
  #pila {
    height: 110vw;
    overflow: hidden;
  }

  #love,
  #kust,
  #chocopie,
  #pirat,
  #sugar {
    top: 0vw;
    height: 95vw;
    left: 0vw;
    overflow: hidden;
  }
  #xoxo1 {
    width: 70%;
    height: auto;
    position: absolute;
    left: 47vw;
    top: 40vw;
    transform: translateX(-50%);
  }
  #xoxo2 {
    width: 50%;
    height: auto;
    position: absolute;
    left: 50vw;
    top: 10vw;
    transform: translateX(-50%);
  }
  #xoxo3 {
    width: 50%;
    height: auto;
    position: absolute;
    left: 50vw;
    top: 13vw;
    transform: translateX(-50%);
  }
  #xoxo4 {
    width: 73%;
    height: auto;
    position: absolute;
    left: 50vw;
    top: 22vw;
    transform: translateX(-50%);
  }

  #xoxo5 {
    width: 66%;
    height: auto;
    position: absolute;
    left: 51vw;
    top: 21vw;
    transform: translateX(-50%);
  }

  #xoxo6 {
    width: 66%;
    height: auto;
    position: absolute;
    left: 51vw;
    top: 21vw;
    transform: translateX(-50%);
  }

  .roza1 {
    font-size: 6.2vw;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 100vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }

  .roza2 {
    font-size: 6.2vw;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 85vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }

  .roza3 {
    font-size: 6.2vw;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 83vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }
  .roza4 {
    font-size: 6.2vw;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 83vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }
  .roza5 {
    font-size: 6.2vw;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 83vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }
  .roza6 {
    font-size: 6.2vw;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 83vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
  }
  #skuchno1 {
    width: 95vw;
    height: 60vw;
    max-height: 90vh;
    top: 34vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
    padding-top: 1.5vw !important;
    overflow: hidden;
  }

  #skuchno2 {
    width: 95vw;
    height: 60vw;
    max-height: 90vh;
    top: 86vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
    padding-top: 1.5vw !important;
    overflow: hidden;
  }
  .vkusna2 {
    left: -80.6vw !important;
  }
  #skuchno3 {
    width: 95vw;
    height: 60vw;
    max-height: 90vh;
    top: 137vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
    padding-top: 1.5vw !important;
    overflow: hidden;
  }
  .vkusna3 {
    left: -84.6vw !important;
  }

  #skuchno4 {
    width: 95vw;
    height: 60vw;
    max-height: 90vh;
    top: 190vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
    padding-top: 1.5vw !important;
    overflow: hidden;
  }
  .vkusna4 {
    left: -70.6vw !important;
  }

  #skuchno5 {
    width: 95vw;
    height: 60vw;
    max-height: 90vh;
    top: 239vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
    padding-top: 1.5vw !important;
    overflow: hidden;
  }
  .vkusna5 {
    left: -90.6vw !important;
  }
  #skuchno6 {
    width: 95vw;
    height: 60vw;
    max-height: 90vh;
    top: 290vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4vw;
    padding-top: 1.5vw !important;
    overflow: hidden;
  }
  .vkusna6 {
    left: -85.6vw !important;
  }

  .rahat1,
  .rahat2,
  .rahat3,
  .rahat4,
  .rahat5,
  .rahat6 {
    font-size: 5vw;
    top: 0;
    width: 6vw;
    margin-bottom: 2vw;
    position: relative;
    opacity: 0;
    white-space: nowrap;
  }

  .lukum1,
  .lukum2,
  .lukum3,
  .lukum4,
  .lukum5,
  .lukum6 {
    font-size: 3.5vw;
    position: relative;
    margin-top: 2vw;
    left: -4vw;
    white-space: nowrap;
  }

  .vkusna1,
  .vkusna2,
  .vkusna3,
  .vkusna4,
  .vkusna5,
  .vkusna6 {
    font-size: 3.2vw;
    position: relative;
    margin-top: 10vw;
    left: -78.6vw;
    white-space: nowrap;
  }

  .flow {
    font-size: 6vw;
    top: 2vw;
    right: 2vw;
  }
  /*  */
  /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */
  /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  МАГАЗИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИИН*/
  #meshok,
  #yoga,
  #fest,
  #like,
  #noski,
  #zluka,
  #musicaaaa {
    position: static;
    width: 100vw;
    height: auto;
    border: none;
    border-bottom: 1vw solid #000;
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  #meshok {
    padding-top: 23vw !important;
  }
  #meshok img,
  #yoga img,
  #fest img,
  #like img,
  #noski img,
  #zluka img,
  #musicaaaa img {
    width: 80vw;
    height: auto;
    position: static;
    margin-bottom: 2vw;
  }
  .sumkawhat,
  .koverwhat,
  .brasletwhat,
  .tshirtwhat,
  .sockswhat,
  .znachwhat,
  .plastinkawhat,
  .sumkaprice,
  .koverprice,
  .brasletprice,
  .tshirtprice,
  .socksprice,
  .znachprice,
  .plastinkaprice {
    position: static;
    font-size: 4.5vw;
    margin-left: 2vw;
  }

  #sumka,
  #kover,
  #braslet,
  #tshirt,
  #socks,
  #znach,
  #plastinka {
    position: static;
  }

  #card-meshok,
  #card-yoga,
  #card-fest,
  #card-like,
  #card-noski,
  #card-zluka,
  #card-musicaaaa {
    padding-top: 23vw !important;
    top: 0;
    height: 110vh;
    padding-top: 10vw;
    overflow-y: scroll;
  }
  #sumka-card {
    width: 81.066vw;
    height: 72.233vw;
    position: absolute;
    top: 20vw;
    left: 7vw;
    object-fit: contain;
  }
  #kover-card {
    width: 89.458vw;
    height: 73.064vw;
    position: absolute;
    top: 20vw;
    left: 7vw;
  }
  #braslet-card {
    left: -12vw;
    width: 113.474vw;
    height: 78.373vw;
    top: 20.202vw;
    position: absolute;
  }
  #tshirt-card {
    width: 96.701vw;
    height: 64.794vw;
    position: absolute;
    top: 24vw;
    left: 2vw;
  }
  #noski-card {
    width: 60.063vw;
    height: 71.334vw;
    position: absolute;
    top: 22vw;
    left: 16vw;
  }
  #z-card {
    width: 75.452vw;
    height: 72.843vw;
    position: absolute;
    top: 22vw;
    left: 11.5vw;
  }
  #plastinka-card {
    width: 87.776vw;
    height: 62.917vw;
    position: absolute;
    top: 26vw;
    left: 5vw;
  }
  .photo1,
  .photo2,
  .photo3,
  .photo4,
  .photo5,
  .photo6,
  .photo7 {
    width: 100vw;
    height: auto;
    border-right: none;
    display: flex;
    justify-content: center;
  }

  .photo1 img,
  .photo2 img,
  .photo3 img,
  .photo4 img,
  .photo5 img,
  .photo6 img,
  .photo7 img {
    width: 80vw;
    height: auto;
  }

  .textix {
    position: static;
    padding: 4vw;
    margin-top: 73vw;
  }

  .hrupko1,
  .pupok1,
  .luda,
  .nam,
  .p0000000000z,
  .titan,
  .nammir,
  .nervamzhop,
  .tramp,
  .president,
  .usa,
  .tramp-777,
  .president-777,
  .usa-777,
  .labubu,
  .labubu-3 {
    top: 40vw;
    position: static;
    font-size: 4vw;
    margin: 2vw 0;
    text-align: left;
    white-space: nowrap;
  }

  .diksidlylohov,
  .diksidlylohov-3 {
    position: static;
    margin: 4vw auto;
    width: 60vw;
    height: auto;
    font-size: 4vw;
    padding: 3vw;
    margin-top: 5vw;
    margin-left: 0vw;
  }

  .back-btn {
    position: static;
    display: block;
    margin-bottom: 5vw;
    font-size: 4vw;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon9,
  .icon10,
  .icon1-4,
  .icon2-3,
  .icon3-4,
  .icon3-3,
  .icon3-2,
  .icon5-5,
  .icon5-4 {
    display: none;
  }

  .bubikroz1,
  .bubikzel1,
  .bubikbel2,
  .bubikzel2,
  .bubikroz2,
  .bubikzel11 {
    display: none;
  }
  /* 
   */
  /* 
   */
  /* 
   */
  /* 
   */
  /* 
   */
  /* 
   */ /* 
   */

  /* 
   *
   /*  */
  /* Тупые филиалы бесят*/
  .surf {
    font-size: 7vw;
    top: 21vw;
    left: 5vw;
  }

  .twerk {
    font-size: 3.8vw;
    top: 32vw;
    left: 5vw;
    width: 80vw;
    white-space: normal;
  }

  /* Слайдер */
  .slider-wrapper {
    width: 100vw;
    height: auto;
    top: 52vw;
    left: 0;
  }

  .slider-track {
    flex-direction: column;
    gap: 5vw;
    align-items: center;
  }

  .lecpro,
  .prudpro,
  .lugpro {
    width: 90vw;
    height: auto;
  }

  .txtlec,
  .txtprud,
  .txtlug {
    font-size: 6vw;
    bottom: 4vw;
    left: 3vw;
  }

  /* Стрелки — убираем на мобилке */
  .arrow-btn {
    display: none;
  }

  /* Блоки описания */
  .lec-desc.visible,
  .prud-desc.visible,
  .lug-desc.visible {
    height: auto;
    padding-bottom: 10vw;
    height: 600vw;
  }

  .big1,
  .big10,
  .big109 {
    position: absolute;
    top: 16vw;
    width: 100vw;
    height: 120vw;
  }

  .glavnayakakashka,
  .glavnayakakashka0,
  .glavnayakakashka09 {
    font-size: 6.4vw;
    top: 23vw;
    left: 4vw;
  }

  .milo,
  .milo0,
  .milo09 {
    font-size: 4vw;
    top: 115vw;
    left: 4vw;
  }

  #close-desc,
  #close-desc0,
  #close-desc09 {
    font-size: 4vw;
    top: 23vw;
    left: auto;
    right: 4vw;
  }

  /* Бегущая строка и текст */
  .runsrk1,
  .runsrk10,
  .runsrk109 {
    font-size: 9vw;
    top: 137vw;
  }

  .boshkabolitsilno,
  .boshkabolitsilno0,
  .boshkabolitsilno09,
  .sonrevet,
  .sonrevet0,
  .sonrevet09,
  .povar,
  .povar0,
  .povar09 {
    font-size: 6.4vw;
    top: 142vw;
    left: 4vw;
    margin-top: 8vw;
    position: relative;
  }
  .sonrevet,
  .sonrevet0,
  .sonrevet09 {
    top: 160vw;
  }
  .povar,
  .povar0,
  .povar09 {
    top: 172vw;
  }
  .depresion,
  .depresion0,
  .depresion09,
  .kartina,
  .kartina0,
  .kartina09,
  .kover,
  .kover0,
  .kover09 {
    font-size: 4vw;
    top: 143vw;
    left: 4vw;
    margin-top: 2vw;
    position: relative;
  }
  .kartina,
  .kartina0,
  .kartina09 {
    top: 173vw;
    left: 4vw;
  }
  .depresion,
  .depresion0,
  .depresion09 {
    top: 160vw;
  }
  /* Картинки */
  .image-container1,
  .image-container2,
  .image-container3,
  .image-container4,
  .image-container10,
  .image-container20,
  .image-container30,
  .image-container40,
  .image-container109,
  .image-container209,
  .image-container309,
  .image-container409,
  .chena1,
  .chena2,
  .chena10,
  .chena20,
  .chena109,
  .chena209 {
    width: 85vw;
    height: 46vw;
    text-align: center;
    position: relative;
    opacity: 50;
  }
  .chena1,
  .chena10,
  .chena109 {
    align-items: center;
    top: 175vw;
    left: 8vw;
    margin-bottom: 4vw;
  }

  .chena2,
  .chena20,
  .chena209 {
    align-items: center;
    top: 175vw;
    left: 8vw;
    margin-bottom: 5vw;
  }
  .image-container1,
  .image-container10,
  .image-container109 {
    top: 148vw;
    left: 7vw;
  }
  .image-container2,
  .image-container20,
  .image-container209 {
    top: 153vw;
    left: 7vw;
  }
  .image-container3,
  .image-container30,
  .image-container309 {
    top: 158vw;
    left: 7vw;
  }
  .image-container4,
  .image-container40,
  .image-container409 {
    top: 163vw;
    left: 7vw;
  }
  .image-container1 p,
  .image-container2 p,
  .image-container3 p,
  .image-container4 p {
    font-size: 4vw;
    padding: 2vw;
  }

  .autoslide-container,
  .autoslide-container0,
  .autoslide-container09 {
    width: 102vw;
    height: 31vw;
    top: 175vw;
    left: 48vw;
    transform: scale(1.8);
  }

  .autoslide,
  .autoslide0,
  .autoslide09 {
    width: 100%;
    height: auto;
  }
  /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  */ /* 
 */
  /*  ИВЕЕЕЕЕЕЕЕЕЕЕНТ */
  .scene-container,
  .scene {
    flex-direction: column;
    height: auto;
    perspective: none !important;
    overflow-x: hidden;
    align-items: center;
    transform-style: flat !important;
  }

  .scene {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
    padding: 4vw 0;
    transform: none !important;
  }

  .poster {
    position: static !important;
    transform: none !important;
    transform-style: flat !important;
    width: 28vw;
    height: 40vw;
    margin: 2vw 2vw;
    display: inline-block;
  }

  .poster7,
  .poster8,
  .poster9,
  .poster19,
  .poster20 {
    width: 38vw;
    height: 28vw;
  }

  .concl {
    position: static !important;
    transform: none !important;
    font-size: 4vw;
    text-align: center;
    margin-top: 2vw;
    z-index: 0;
  }
  #modal6 {
    left: 0vw;
  }
  .modal {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow-y: auto;
  }

  .modal-content {
    width: 90vw;
    max-width: 90vw;
    max-height: 90vh;
    padding: 5vw;
    font-size: 4vw;
    border-width: 0.8vw;
    position: relative;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .modal-content p {
    font-size: 4vw;
    gap: 2vw;
  }

  .close {
    position: absolute;
    top: 2vw;
    right: 3vw;
    font-size: 6vw;
  }
  /* мои барыги */
  /* Карточки в столбик */
  .prepod1,
  .prepod2,
  .prepod3,
  .prepod4,
  .prepod5,
  .prepod6 {
    display: none;
    position: absolute !important;
    width: 100% !important;
    height: auto !important;
    left: 0vw;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start; /* текст и элементы прижаты влево */
    perspective: none;
    box-sizing: border-box;
    padding: 12vw;
  }
  .prepod1 {
    top: 120vw;
  }
  .prepod6 {
    top: 700vw;
  }
  .card-inner {
    width: 100%;
    height: 100%;
    display: block;
  }

  .front1,
  .front2,
  .front3,
  .front4,
  .front5,
  .front6,
  .prepod1-back,
  .prepod2-back,
  .prepod3-back,
  .prepod4-back,
  .prepod5-back,
  .prepod6-back {
    width: 100% !important;
    height: auto !important;
    border-width: 1px;
    box-sizing: border-box;
  }

  .tvar-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }

  #tvar1,
  #tvar2,
  #tvar3,
  #tvar4,
  #tvar5,
  #tvar6 {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    top: auto !important;
    left: auto !important;
  }

  /* Описание, клички, подписи — по левому краю */
  .klichka1,
  .klichka2,
  .klichka3,
  .klichka4,
  .klichka5,
  .klichka6,
  .whois1,
  .whois2,
  .whois3,
  .whois4,
  .whois5,
  .whois6,
  .opis1,
  .opis2,
  .opis3,
  .opis4,
  .opis5,
  .opis6 {
    position: relative !important;
    left: auto !important;
    top: auto !important;
    font-size: 5vw !important;
    margin: 5px 0;
    text-align: left !important;
  }
}

/* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */ /* 
 */
/*  */

@media screen and (max-width: 800px) {
  .burger-nav {
    width: 100vw;
    height: 16vw;
    background-color: brown;
  }
}
